<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatApp</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h3>All Chats</h3>
    <form action="/chats/new" method="get">
        <button>New Chats</button>
    </form>
    <br>
    <% for( let chat of chats) { %>
        <div class="chat">
            <h1>From: <%= chat.from %>
            </h1>
            <p>
                <%= chat.msg %>
            </p>
            <h3>Recevied by <%= chat.to %>
            </h3>
            <hr>
            <p>
                <%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>
            <form action=" /chats/<%=chat._id %>" method="get">
                    <button>Details</button>
                    </form>

                    <form action="/chats/<%= chat._id %>/edit" method="get">
                        <button>Edit</button>
                    </form>
                    <form action="/chats/<%= chat.id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit"
                            onclick="return alert('Are you sure you want to delete this chat?')">Delete</button>
                    </form>
        </div>

        <% } %>
</body>

</html>